PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/renewcred-cms?retryWrites=true&w=majority

JWT_SECRET=f3e7ec4831885fb99a27432e96cc19229d7160d558bf865bb0db99eff1904a8e
JWT_EXPIRES_IN=1d

ADMIN_EMAIL=admin@renewcred.com
ADMIN_PASSWORD=Admin123
ADMIN_USERNAME=Super Admin

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
